{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('front_app') }}
{% endblock %}

{% block body %}
    <body>
        {% block flash_message %}
            {% include "block/_flash_message.html.twig" %}
        {% endblock %}
        
        {% block navbar %}
            <div class="menu">
                <div class="container">
                    {% include "front/block/_navbar.html.twig" %}
                </div>
            </div>
        {% endblock %}

        {% block content %}
            {% block banner%}{% endblock %}
        {% endblock %}

        {% block footer %}
            {% include "front/block/_footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('front_app') }}
        {% endblock %}
    </body>
{% endblock %}